*{
    border: 0;
    padding: 0;
}
body{
    background-color: #3D2C2E;
    font-family: "Roboto", sans-serif;
}
/*Configuracion para etiqueta de tipo button*/
button {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 4px;
    font-family: "Roboto", sans-serif;
}
.contenedor{
    border: 2px solid #16765a;
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: row;
    border-radius:10px ;
    background-color: #8aad79;
    margin: auto;
    margin-top: 100px;
}

.contenedorImg{

    width: 500px;
    border: 2px solid #16765a;

}

h3{
    color: #0f701c;
    font-size: 30px;
    text-align: center;
}

.logeo{
    border: 2px solid #16765a;
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.olvidar{
    text-align: center;
}
.crear{
   text-align: center;
}

.titulo_loguin{
    color: #0f701c;
    text-align: center;
}

.datos{
    width: 90%;
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    margin-left: 16px;
    border: 2px solid #16765a;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    margin-left: 5px;

}

.boton1{
    width: 80%;
    background: #16765a;
    padding: 18px;
    color: white;
    margin-left: 40px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 50px;
}
.boton1:hover{
    background-color: grey;
}
.Logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_inicio {
    width: 200px;
    height: 200px;
    border-radius: 600px;
}

/*ESTILO REGISTRO*/
.Form{
    border: 4px solid #16765a;
    width: 400px;
    height: auto;
    gap: 10px;
    padding: 10px;
    margin: 30px auto 30px;
    background-color: #8aad79;
    display: flex;
    flex-direction: column;
    border-radius:10px ;
}

.caja1{
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.tituloForm, .titulo{
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    font-style: normal;
    color: #0f701c;
    
}

.ImaGen{
    width: 100px;
    height: 100px;
    border-radius: 600px;

}

.caja{
    width: 400px;
    height: 490px;
}

.formulario{
    
    width: 80%;
    height: 460px;
    margin: auto;
}

.controls{
    width: 90%;
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    margin: 5px 15px ;
    border: 2px solid #16765a;
    font-size: 12px;
    justify-content: space-between;
    
}

.button{
    width: 80%;
    background: #16765a;
    padding: 18px ;
    color: white;
    margin: 0 30px 10px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    
}

.button:hover{
    background-color: grey;
}

.terms{
    padding: 5px;
    font-size: 15px;
    text-align: center; 
}

.termino{
    font-size: 20px;
    text-align: center;
   
    
}

.titulo {
    font-size: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

 /*Estilos para Publicacion.html*/
.card{
    width: 700px;
    height: 600px;
    margin: 100px 300px 0;
    background-color: #8aad79;  
    border: 4px solid #16765a; 
    border-radius: 10px;
    padding: 5px;
}

/*Botones publicacion.html*/
.botones{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    margin: 50px 0 0;    
}

.botones button {
    width: 30%;
    font-size: 15px;
    background: #16765a;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 50px;
    margin-left: 50px;
    color: white;
}

.botones button:hover{
    background-color: grey;
}

.infoPerfil{
    width: 500px;
    height: 200px;
    display: flex; 
}
 
.infoPerfil h3{
    text-align: center;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;  
}
 
.foto{
    width: 100px;
    height: 150px;
    padding: 10px;
    border-radius: 100px; 
}
 
.box-text{
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Roboto", sans-serif;   
}
 
#PubliText{
    width: 600px;
    height: 200px;
    border: 2px solid #16765a;
    border-radius: 20px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: white; 
    margin-top: 10px; 
    margin-left: 40px;
}

/*Estilos para Contraseña.html*/
 
.recuperar{
    padding: 20px;
    border-radius:10px ;

    
}
/*Botones Contraseña.html*/
h1{
    color: #16765a;
    text-align: left ;
}

img{
    border-radius: 100%;
    width: 70px;
}
.introducir{
    column-gap: 50px;
    margin-top: 50px;
    width: 300px;
    height: 70px;
    font-family: "Roboto", sans-serif;
    background-color: white; 
    border-radius: 20px;
    border: 2px solid #16765a;
}
.siguiente{
    column-gap: 50px;
    margin-top: 50px;
    width: 200px;
    height: 40px;
    background: #16765a;
    border-color: transparent;
    border-radius: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: white;
}
.siguiente:hover{
    background-color: grey;
}
p{
    color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/*Estilos para muro.html*/
.pantalla {
    display: grid;
    grid-template-columns: 20% 70% 10%;
}

/*Botones */

button {
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin: 4px;
    font-family: "Roboto", sans-serif;
}
/*Botones Muro.html*/
/*
.muro button {
    background-color: #16765a;
    color: white; 
    width: 250px; 
    height: 40px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 20px; 
}
*/
.muro button:hover{
    background-color: grey;
}

/*bt especial me gusta y compartir. */
.barraComentario button{
    width: 8%;
    background-color: #F2C7C5;
}

.comentario button{
    background-color: #16765a;
    color: white; 
    width: 30%; 
    height: 40px;
    border-radius: 50px;
    margin-top: 10px;
    margin-right: 20px; 
   
}

/*---------------*/
.perfil{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; 
    justify-items: center; 
    align-items: start; 
    gap: 5px; 
  
}

.miperfil {
    border: 2px solid rgb(22, 118, 90);
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
    justify-content: space-between;
}

.logotipo {
    width: 70%;
    border-radius: 600px;
    margin-left: 10px;
    padding: 10px;

}

.rostro {
    width: 200px;
    border-radius: 900px;
    margin: 10px 0;
}

.editarPer a, .cerrarSec a {
    text-decoration: none;
    color: #D97D54; 
    font-size: 20px;
}
h4 {
    color: #D97D54;
}

#busqueda {
    width: 250px;
    height: 5px;
    border: 1px solid #16765a;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: white; 
    font-family: "Roboto", sans-serif;
    top: 0%;
}

.controles{
    width: 100%;
    height: 150px;
}


#myForm{
    width: 80%;
    height: 70px;
    border: 1px solid #16765a;
    border-radius: 50px;
    padding: 10px;
    font-size: large;
    font-family: "Roboto", sans-serif;
    background-color: white; 
    resize: none; 
    margin-top: 15px;
    
}

#TextoPubli{
    font-size: 15px;
    text-align: center;
    width: 600px;
    padding: 10px;
    margin: 10px;
    
}

.publicaciones {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    align-items: center;
    margin-top: 50px;
    margin-right: 100px;
    border: 2px solid rgb(22, 118, 90); 

    
}

.publicacion, .publicon_foto{
    background-color: #F2C7C5;
   
}

.autor-info, .left{
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    align-items: center;
    border: 2px solid rgb(22, 118, 90);
}

.foto-autor {

    border-radius: 30%;
    grid-row: 1 / 3; 
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
}

.nombre-autor {
    font-weight: bold;
    float: left;
    padding: 10px;
    
}
.publicidad {

    border: 2px solid #16765a;
    padding: 10%;
    height: 600px;
    grid-template-columns: 1fr; /* Una columna que ocupa todo el espacio disponible */
    justify-items: center;
}

.propaganda {
    width: 100px;
    height: auto;
    border-radius: 0%;
}

.comentarioP{
    background-color: #B2B1A5;
    width: 75%;
    margin: 10px 0 10px 90px;
    border-radius: 50px;
    padding: 10px;
    border: 2px solid ;
}
.barraComentario{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px; /* Espacio entre elementos */
}


.comentario {
    display: flex;
    align-items: center;
    gap: 10px; 
    width: 50%;
}

#TextoComentario {
    width: 200px; 
    padding: 15px;
    border-radius: 20px;
    border: 2px solid #16765a;
    font-family: "Roboto", sans-serif;
}


.right {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    max-width: 100%; 
}

.fotoPublicacion {
    width: 100%; 
    height: auto;
    border-radius: 0%;
    margin: 20px;
}



@media  (min-width:300px) and (max-width:600px) {

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Evitar desplazamiento horizontal */
    }

    .pantalla{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "perfil"
            "muro";
        padding: 10px;
        box-sizing: border-box;
        
    }

    .perfil {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px; 
        width: 50%;
        box-sizing: border-box;
    }

    .logotipo {
        width: 80px;
        height: auto;
    }

    .miperfil img {
        width: 50px;
        height: auto;
        border-radius: 50%;
        padding: 2px;
    }

    .miperfil {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px; 
        width: 100%;
        margin-left: 100px;
        

    }
    .editarPer a, .cerrarSec a {
        text-decoration: none;
        color: #070707; 
        font-size: 12px;
        padding: auto;
        margin: 2px;
    }

    #myForm {
        width: 90%;
        border:1px solid #16765a;
        padding: 0 ;
        
    }
    .controles {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        
    }

    #TextoPubli{
        
        text-align: center;
        width: 90%;
        box-sizing: border-box; 
        font-size: 12px;
        white-space: normal;
        overflow-wrap: break-word;
       
    }

    .publicaciones{
        width: 100%;
        margin: 10px;
    }

    .publicacion, .publicon_foto {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 10px 0;
    }
    
    
    .foto-autor {
        width: 60px;
        height: auto;
        border-radius: 50%;
    }
    

    .fotoPublicacion {
        width: 100%;
        height: auto;
    }

    .comentarioP {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 10px;
        margin-left: 30px;
    }

    .barraComentario {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        
    }
    .botonComentario{
        width: 50vw;
    }
    
    .boton-emoticon{
        width: 5vw;
        height: 5vw;
        
    }


    .publicidad{
        display: none;
    }
    #TextoComentario {
        width: 30vw; 
        padding: 5px;
        border-radius: 20px;
        border: 2px solid #16765a;
        font-family: "Roboto", sans-serif;
    }
    #busqueda{
        margin: 15px;
    }
    /*ESTILOS PARA PERFIL.HTML*/
    /* MEDIA PARA PERFIL*/
    .pantallap{
        grid-template-columns: 1fr;
        height: auto; 
        font-size: 30px;
        place-items: center;
    }

    .logo-p {
       margin: 10px;
    }

    .img-p {
        display: grid;
        width: 90%;
        height: 300px;
        place-items: center;
        padding: 5%;
        margin: auto;
        border-radius: 0%;
    }
    
    .datos_y_perfil {
        grid-template-columns: 1fr; 
        grid-gap: 10px;
        height: auto; 
        padding: 10px;
    }
    
    .daTos, .editarperfil {
        width: 100%;
        height: auto; 
        padding: 10px; 
        font-size: 20px;  
        border: 2px solid rgb(22, 118, 90);
        border-radius: 10px;
        margin-top: 10px;
    }
    
    .imagen_perfil {
        width: 100%;
        height: auto; 
        padding: 5px;
    }
    
    .peRfil {
        height: auto; 
        grid-gap: 15px;     
    }
    
    .botonP {
        width: 150px; 
        height: 25px; 
        margin: 10px auto; 
        font-size: 20px; 
    }
    
    .descripcionP {
        height: auto; 
        font-size: 12px; 
    }  
}

@media  (min-width:601px) and (max-width:800px){
   
    .pantalla{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
       
    }

    .comentario button, .botonComentario {
        width: 150px; 
        height: 40px;
        border-radius: 50px;
    }
}

 /*ESTILOS PARA PERFIL.HTML*/
    /* MEDIDA PARA TABLET PERFIL*/
@media (min-width: 601px) and (max-width: 1023px) {
.pantallap{
    display: grid;
    grid-template-columns: 13% 87% ;
    width: 100%;
    height: 750px;
}

.img-p{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
}

.datos_y_perfil{
    display: grid; 
    grid-template-columns: 1fr 2fr; /* Dos columnas */
    grid-gap: 10px; /* Espacio entre las columnas */
    border-radius: 10px; 
    height: 250px;
    width: 80%; /* Ancho total de las dos columnas */
    align-items: center;
}

.daTos {
    display: grid;
    place-items: center; /* Centrar vertical y horizontalmente */
    border: 2px solid rgb(22, 118, 90);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 250px;
}   

.editarperfil {
    display: grid;
    place-items: center; /* Centrar vertical y horizontalmente */
    border: 2px solid rgb(22, 118, 90);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: 250px;  
    margin-right: 10px
}

.imagen_perfil{
    width: 250px;
    height: 150px;
    padding: 5px;
}

.peRfil{
    display: grid;
    grid-template-rows: 1fr; 
    grid-gap: 20px;
    width: 100%;
    height: 500px;
}

.botonP{
    background-color: #16765a;
    color: white; 
    width: 100px; 
    height: 20px;
    border: transparent;
    border-radius: 20px;
    margin: 5px;

}

.descripcionP{
    width: 100%;
    height: 30px;
}
}

 /*ESTILOS PARA PERFIL.HTML*/
    /* MEDIA PARA ESCRITORIO*/
@media (min-width: 1024px) {
.pantallap{
    display: grid;
    grid-template-columns: 10% 80% ;
    width: 100%;
    height: 750px;
}

.img-p{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
}

.datos_y_perfil{
    display: grid; 
    grid-template-columns: 1fr 2fr; /* Dos columnas */
    grid-gap: 10px; /* Espacio entre las columnas */
    border-radius: 10px; 
    height: 250px;
    width: 100%; /* Ancho total de las dos columnas */
    padding: 20px;
    align-items: center;
}

.daTos, .editarperfil {
    display: grid;
    place-items: center; /* Centrar vertical y horizontalmente */
    border: 2px solid rgb(22, 118, 90);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    height: 250px;
    margin: auto;
}

.imagen_perfil{
    width: 250px;
    height: 150px;
    padding: 5px;
}

.peRfil{
    display: grid;
    grid-template-rows: 1fr; 
    grid-gap: 20px;
    width: 100%;
    height: 500px;
}

.botonP{
    background-color: #16765a;
    color: white; 
    width: 100px; 
    height: 20px;
    border: transparent;
    border-radius: 20px;
    margin: 5px;

}

.descripcionP{
    width: 100%;
    height: 30px;
}
}


/*
.miperfil{
        width: 50px;
        display: grid;
        grid-template-rows: repeat(4, 1fr); 
        height: 40vh;
        padding-left: 2px;
        text-align: center;
        font-size: 13px;
    }


    .perfil {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px; 
    
        box-sizing: border-box;
    }


    
    .miperfil{
        width: 50px;
        display: grid;
        grid-template-rows: repeat(4, 1fr); 
        height: 40vh;
        padding-left: 2px;
        text-align: center;
        font-size: 13px;
    }
    .logotipo{
        width: 200px;

    }

    .rostro{
        width: auto;
        border-radius: 80px;
    }

    #myForm {
        width: 80%;
        height: 50px;
        margin: 20px;
        
        
    }
    
    .controles{
        width: 100%;
        height: 100px;
        font-size: 15px;    
    }

    #buscar{
        margin: 20px;
    }

    #TextoPubli{
        width: auto;
        font-size: 12px;
        text-align: center;
        padding: 8px;
        
        
    }

    .publicaciones{
        width: 100%;
    }

    .publicidad{
        display: none;
    }
     


}

*/