body{
    background-color: #cbe6be;
    font-family: "Roboto", sans-serif;
 
}
.logotipo {
    width: 55px;
    height: auto;
    border-radius: 600px;
    margin-left: 8px;
    top: 0%;
    left: 0%;
}
.menu1{
    width: 150px;
    border: 2px solid rgb(22, 118, 90); 
    padding: 20px;
    border-radius: 10px; 
    float: left;
    height: 550px;
}
.menu button{
    background-color: transparent;
    display: block; 
    border: transparent;
    width: auto;
    color: grey;
    font-weight: bold; 
    margin-bottom: 10px; 
    font-size: 14px; 
    border-radius: 20px;
    cursor: pointer;
}
.menu button:hover{
    color: #16765a;
}

.pantalla {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.perfil{
    display: grid;
    grid-template-rows: 1fr; 
    grid-gap: 20px;
}
.perfil button{
    background-color: #16765a;
    color: white; 
    width: 100px; 
    height: 20px;
    border: transparent;
    border-radius: 20px;
    margin: 4px;

}
.editarperfil button {
    margin-left: 10px;
}
.imagen_portada {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 3px;
}
.datos_y_perfil{
    display: grid; 
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    grid-gap: 20px; /* Espacio entre las columnas */
    border-radius: 10px; 
    height: 250px;
    width: 800px; /* Ancho total de las dos columnas */
    padding: 20px;
    align-items: center;
}
.imagen_perfil {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    float: right; 
    margin-left: 10px;
}

.editarperfil,
.datos {
    display: grid;
    place-items: center; /* Centrar vertical y horizontalmente */
    border: 2px solid rgb(22, 118, 90);
    border-radius: 10px;
    padding: 20px;
}

/*.editarperfil {
    border: 2px solid rgb(22, 118, 90); 
    border-radius: 10px; 
    height: 250px;
    width: 400px;
    display: flex; 
    justify-content: right; 
    align-items: center; 
    flex-direction: column;
}*/
/*.datos{
    border: 2px solid rgb(22, 118, 90); 
    border-radius: 10px; 
    height: 250px;
    width: 400px;
    display: flex; 
    justify-content: left; 
    align-items: center; 
    flex-direction: column;
    
}*/
.controles{
    width: 100px;
    height: 5px;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    background-color: white; 
    font-family: "Roboto", sans-serif;
    top: 0%;
}