*{
    border: 0;
    padding: 0;
}
body{
    background-color: #cbe6be;

}
.section{
    
    border: 2px solid #16765a;
    width: 400px;
    gap: 10px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #8aad79;
}


.caja1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.caja1 h3{
    font-size: 30px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    
}

.caja{
    width: 100%;
    
}

.controls{
    width: 90%;
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    margin-left: 16px;
    border: 1px solid #728b63;
    font-family: 'calibri';
    font-size: 15px;
    margin-left: 5px;
    display: flex;
    
}

.button{
    width: 80%;
    background: #16765a;
    padding: 15px;
    color: white;
    margin-left: 40px;
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 50px;
}

.terms{
    padding: 10px;
    margin-bottom: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    
}

img{
    border-radius: 600px;
    width: 150px;
    margin-bottom: 15px;
}

.formulario h3 {
    font-size: 20px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}